<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Update Password for <%= user.first_name %> <%= user.last_name %></h3>
  <form action="/update-password" method="post">
    <input type="hidden" name="userId" value="<%= user._id %>">
    
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required><br>
    
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required><br>
    
    <button type="submit">Change</button>
  </form>
</body>
</html>